/* line 1, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/static_pages.scss */
.container-fluid {
  height: 100%;
  min-width: 1140px;
  overflow-x: scroll;
}
/* line 6, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/static_pages.scss */
.container-fluid .comments-section {
  position: fixed;
  height: 575px;
  width: 300px;
  overflow-y: scroll;
  margin-top: 100px;
  border-bottom: 1px solid black;
}
/* line 15, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/static_pages.scss */
.container-fluid #thoughts-header {
  border-bottom: 1px solid #CC0A0A;
  padding-right: 120px;
}

/* line 22, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/static_pages.scss */
.posts-section {
  float: right;
  margin-top: 100px;
}

/* line 27, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/static_pages.scss */
.actions {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

/* line 32, /Users/valenciacurbello/Desktop/keenanswebblog/app/assets/stylesheets/static_pages.scss */
#comment-name {
  background-color: #CC0A0A;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  color: white;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.body-header {
	height: 100px;
	margin-top: -20px;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.body-header h1 {
	float: right;
	padding-top: 40px;
}

#header-glyph {
	color: #CC0A0A;
}
