<div class="article-entry-section">
  <h1>Enter New Article</h1>

  <%= render 'form' %>

  <%= link_to 'Back', posts_path %>


  <div class="all-articles col-xs-9 col-sm-9">
  <%= link_to 'All Articles', posts_path %>
</div><!--article-entry-section-->