.container-fluid {
	height: 100%;
	overflow-x: scroll;

	.comments-section {
	position: fixed;
	height: 85%;
	margin-top: 100px;
	overflow-y: scroll;
	}

}


.posts-section {
	float: right;
	margin-top: 100px;
}

.actions {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

#comment-name {
	background-color: #CC0A0A;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 5px;
	color: white;
}

#post-title-section {
	border-top: 15px solid black;
}

.testerino {
	white-space: nowrap;
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 740px) {
	.comments-section {
	display: none;
	}
	.posts-section {
	width: 100%;
	}
}