.container-fluid {
	height: 100%;
	min-width: 1140px;
	overflow-x: scroll;

	.comments-section {
	position: fixed;
	height: 575px;
	width: 300px;
	overflow-y: scroll;
	margin-top: 100px;
	border-bottom: 1px solid black;	
	}

	#thoughts-header {
	border-bottom: 1px solid #CC0A0A;
	padding-right: 120px;
	}
}


.posts-section {
	float: right;
	margin-top: 100px;
}

.actions {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

#comment-name {
	background-color: #CC0A0A;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 5px;
	color: white;
}

